<div class="container mt-4">
    <h1>Delivered Orders</h1>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Sr No.</th>
          <th>Order ID</th>
          
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of assignedOrders; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ order.orderId }}</td>
          
          <td>{{ order.status }}</td>
          <td>
            <button
              class="btn btn-primary btn-sm"
              (click)="viewCustomerDetails(order)"
            >
              View Customer Details
            </button>
           
          </td>
        </tr>
      </tbody>
    </table>
  
    <div class="pagination-controls">
      <button
        class="btn btn-secondary"
        [disabled]="currentPage === 0"
        (click)="goToPreviousPage()"
      >
        Previous
      </button>
      <button
        class="btn btn-secondary"
        (click)="goToNextPage()"
      >
        Next
      </button>
    </div>
  </div>
  
  <!-- Customer Details Modal -->
  <div *ngIf="showModal" class="modal" tabindex="-1" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Customer Details</h5>
          <button type="button" class="btn-close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
          <p><strong>Name:</strong> {{ selectedCustomerDetails?.firstName + ' ' + selectedCustomerDetails?.lastName }}</p>
          <p><strong>Email:</strong> {{ selectedCustomerDetails?.email }}</p>
          <p><strong>Phone:</strong> {{ selectedCustomerDetails?.contactNumber }}</p>
          <p><strong>Address:</strong> {{ selectedCustomerDetails?.address }}</p>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
        </div>
      </div>
    </div>
  </div>
  